extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-md-8
      form(action="/location/appointment", method="post", role="form") // Update the action
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="name") Name
          .col-12.col-sm-10
            input#name.form-control(name="name", required="required") // Add required
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="date") Date
          .col-12.col-sm-10
            input#date.form-control(type="date", name="date", required="required") // Add required
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="time") Time
          .col-12.col-sm-10
            input#time.form-control(type="time", name="time", required="required") // Add required
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="reason") Reason for Appointment
          .col-12.col-sm-10
            textarea#reason.form-control(name="reason", rows="5", required="required") // Add required
        button.btn.btn-primary.float-right(type="submit") Book Appointment 
    .col-12.col-md-4
