extends layout

block content
  .row.banner
    .col-12
      h1 Dharma Hospitals

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p General Hospital,123 Health St,Wellness City

          .card.card-primary
            .card-block
              h2.card-title Office hours
              p.card-text Monday - Friday : 9:00am - 6:00pm
              p.card-text Saturday : 10:00am - 4:00pm
              p.card-text Sunday : closed

          .card.card-primary
            .card-block
              h2.card-title Services
              span.badge.badge-warning 
                i.fa.fa-check
                | &nbsp;Cardiology
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Pediatrics
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Neurology

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title 
              img.img-fluid.rounded(src='https://content.jdmagicbox.com/v2/comp/ahmednagar/w7/9999px241.x241.171013215113.p6w7/catalogue/dharma-hospital-savedi-ahmednagar-hospitals-ppuzcko4g5.jpg')

    .row
      .col-12
        .card.card-primary.review-car
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new') Add review
            h2.card-title Patient reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Harsha
                small.reviewTimestamp  16 july 2024
              .col-12
                p The doctor was very attentive and helpful

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Srinivas Lakavath
                small.reviewTimestamp 14 august 2024
              .col-12
                p good maintainance

    .col-12.col-lg-3
     